.cartWidget {
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #71d1d4;
}

.cart-count {
  font-size: 13px;
  margin-left: 10px;
}

.cartWidget a {
  text-decoration: none;
  color: inherit;
}