.footer-father {
    width: 100%;
    max-width: 1200px;

}

.form {

    margin-left: 0;

}

.FooterList {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    justify-content: space-around;
}

.FooterList a {

    color:rgb(60, 60, 167)

}

.FooterListHov:hover {

    transform: scale(1.4);
    transition: 0.3s;
    box-shadow: 2cm;

}